html
{
    height : auto;
}

body 
{
    margin: 0%;
}

header
{
    display: flex;
    flex-grow: 4;
    flex-direction: row;
    background-color: grey;
    width: 100%;
}

.link
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 34px;
    width: 50%;
    color: black;
}

.headerLink
{
    text-align: center;
}

.WebSiteTitle
{
    margin-left: 100px;
    margin-right: 100px;
}

.footerLink
{
    margin-left: 5%;
    margin-right: 2%;
}

footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
 
    background-color: grey;
    margin-top: auto;
}

.mosaïque
{
    background-color: grey;
    text-align: center;
    width: 100%;
}
/*GALLERY*/

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.pictRect {
    width: 10%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }
 
